@import "tailwindcss";

:root {
  --background: #030712;
  --foreground: #f9fafb;
}

html, body {
  background-color: var(--background);
  color: var(--foreground);
  height: 100%;
}

* {
  box-sizing: border-box;
}
